{% extends 'base.html' %}
{% load static %}

{% block 'main' %}
  <!-- main start-->
  <div class="row mt-5">
    {% for x in products %}
    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="100%" alt="">
    </div>
    <div class="col-md-6">
        <p><strong>Product Name:</strong>&nbsp; &nbsp; {{x.name}}</p>
        <p><strong>Price:</strong>&nbsp; &nbsp; Rs. {{x.price}}</p>
        {% if x.cat == 1 %}
        <p><strong>Category:</strong>&nbsp; &nbsp; Mobile</p>
        {% elif x.cat == 2 %}
        <p><strong>Category:</strong>&nbsp; &nbsp; Shoes</p>
        {% else %}
        <p><strong>Category:</strong>&nbsp; &nbsp; Clothes</p>
        {% endif %}
        <p><strong>Product Description:</strong>&nbsp; &nbsp; {{x.pdetails}}</p>
        <br>
        <a href="/addtocart/{{x.id}}"><button class="btn btn-primary">Add to cart</button></a>&nbsp; &nbsp;
        <a href="/viewcart"><button class="btn btn-primary">View Cart</button></a>&nbsp; &nbsp;
        <!--   change the previous text     old code is **   <a href="index.html"><button class="btn btn-primary">Shop More</button></a>     -->
        <a href="/home"><button class="btn btn-primary">Shop More</button></a>
        <br>
        {% if success %}
           <div class="alert alert-success">
               {{success}}
           </div>
        {% endif %}


        {% if msg %}
        <div class="alert alert-danger">
            {{msg}}
        </div>
     {% endif %}


    </div>
    {% endfor %}
</div>


{% endblock 'main' %}